.clock{
    width: 170px;
    height: 50px;
    display: flex;
    border-radius: 9px;
    overflow: hidden;
}

.clock>div{
    width: 33.3%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.clock>div:first-child{
    border-left:none;
}

.clock>div>p{
    font-size: 20px;
    font-weight: 900;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    overflow: hidden;
}